---
import Layout from '../layouts/Layout.astro';
import GetStartedHero from '../components/GetStartedHero.astro';
---

<Layout title="Nimbus Healthcare - Get Started">
  <main>
    <GetStartedHero />
  </main>
</Layout>
