---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HormoneHero from '../components/HormoneHero.astro';
import HormoneFeature from '../components/HormoneFeature.astro';
import HormoneTestimonials from '../components/HormoneTestimonials.astro';
import HormoneProgram from '../components/HormoneProgram.astro';
import HormoneStepsShowcase from '../components/HormoneStepsShowcase.astro';
import HormonePharmacy from '../components/HormonePharmacy.astro';
import HormoneTrack from '../components/HormoneTrack.astro';
import HormoneFAQ from '../components/HormoneFAQ.astro';
import HormoneCTA from '../components/HormoneCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Nimbus Healthcare - Hormone Optimization">
  <Navbar />
  <main class="bg-[#1A1816]">
    <HormoneHero />
    <HormoneFeature />
    <HormoneProgram />
    <HormoneStepsShowcase />
    <HormoneTestimonials />
    <HormonePharmacy />
    <HormoneTrack />
    <HormoneFAQ />
    <HormoneCTA />
  </main>
  <div class="bg-[#1A1816] pb-[10px] px-[10px]">
    <Footer />
  </div>
</Layout>
